<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap - Prebuilt Layout</title>

<!-- Bootstrap -->
<!-- <link href="file:///Macintosh HD//Users/miahunsicker/Projects/Veterans/static/css/bootstrap.css" rel="stylesheet"> -->
<!-- <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles/bootstrap.css') }}">

<script src="static/js/bootstrap.js"></script>
<script src="static/js/jquery-1.11.2.min.js"></script> -->

<!-- Import jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>


</head>

<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Navbar Link</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Where We Are</h1>
      <div class="row center">
        <h5 class="header col s12 light">Mental Health Sentement Analysis</h5>
      </div>
      <div class="row center">
        <form action="/first_tweet" method='POST' >
          <button type="submit" id="download-button" class="btn-large waves-effect waves-light orange" class="btn btn-info btn-lg">Get Started</button>
        </form>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Twitter Integration</h5>

            <p class="light">WhereWeAre pulls in millions of tweets that could have signs of mental health issues</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Crowd Source Filtering</h5>

            <p class="light">WhereWeAre asks visitors to judge whether or not a statement statement could have signs of mental health issues</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Natural Language Processing Model Training and Twitter Bot</h5>

            <p class="light">The crowd source statements are used to teach a natural language processing model to better identify statements of people with mental health issues. The Twitter bot will twit these users a help line number</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Team </h5>
          <p class="grey-text text-lighten-4">WhereWeAre identifies possible veteran suicidal tweets and profiles, uses crowd sourcing to further identify the serious threats to 1. collect quality data to further train a natural language processing model, 2. generate a heat map based on the user geolocation for further analysis, 3 use a twitter bot to follow and respond with an intervention tweet.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Team</h5>
          <ul>
            <li>Brian Woo</li>
            <li>Lily Chai</li>
            <li>Mia Hunsicker</li>
            <li>Tony Nguyen</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Title</h5>
          <ul>
            <li>Data Scientist</li>
            <li>Data Scientist</li>
            <li>Data Scientist</li>
            <li>Product Manager/Developer</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>

</html>
