<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap - Prebuilt Layout</title>

<!-- Bootstrap -->

<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles/bootstrap.css') }}">

<script src="static/js/bootstrap.js"></script>
<script src="static/js/jquery-1.11.2.min.js"></script>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center"></h1>
    </div>
  </div>
</div>
  <div class="well-centered">
    <div class="text-center col-md-12">
      <br>
      <h1 class='text-center'>
      <div class="well"><strong>Thank you for your time</strong>
      <br>
      <br>
      <form action="/read_more" method='POST' >
        <button type="submit" class="btn btn-info btn-lg">More Info</button>
      </form>
      </div>
    </h1>
    </div>
  </div>
  <div class="row"> </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="text-center col-md-6 col-md-offset-3">
      <h4>. </h4>
      <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="http://yourwebsite.com/" >My Website</a></p>
    </div>
  </div>
  <hr>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="file:///Macintosh HD/Users/miahunsicker/fraud-group/js/jquery-1.11.2.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="file:///Macintosh HD/Users/miahunsicker/fraud-group/js/bootstrap.js"></script>
</body>
</html>
