<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WhereWeAre w/ Materialize</title>

<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

          
</head>

<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Veterans Hackathon</h1>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
    How likely is this this person to inflict self harm?
     </div>
  </div>
  <div class="row">
    <div class="text-center col-md-12">
      <div class="well"><strong>{{content.text}}</strong></div>
      <form action="/display_tweet" methods='POST'>

        <button type="submit" class="btn btn-info btn-sm">Not Likely</button>
        <button type="submit" class="btn btn-primary btn-sm"> Likely</button>
      </form>
      <br>
      <form action="/stop" methods='POST'>
        <button type="submit" class="btn btn-success btn-sm" color=red>Stop</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-md-6 col-md-offset-3">
      <h4>. </h4>
      <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="http://yourwebsite.com/" >My Website</a></p>
    </div>
  </div>
  <hr>
</div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Team </h5>
          <p class="grey-text text-lighten-4">WhereWeAre identifies possible veteran suicidal tweets and profiles, uses crowd sourcing to further identify the serious threats to 1. collect quality data to further train a natural language processing model, 2. generate a heat map based on the user geolocation for further analysis, 3 use a twitter bot to follow and respond with an intervention tweet.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Team</h5>
          <ul>
            <li>Brian Woo</li>
            <li>Lily Chai</li>
            <li>Mia Hunsicker</li>
            <li>Tony Nguyen</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Title</h5>
          <ul>
            <li>Data Scientist</li>
            <li>Data Scientist</li>
            <li>Data Scientist</li>
            <li>Product Manager/Developer</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>


</body>
</html>
